/* ------------------------------------------------------------------------------------------- -v-
                                        menu bar
----------------------------------------------------------------------------------------------- -o- */

.menu-bar {
    width: 100%;
    height: 30px;
    background-color: var(--color-smoky-charcoal);
}

.left-menu-bar {
    position: absolute;
    top: 0;
    left: 40px;
    display: flex;
}

.menu-bar-potato-icon { /* squished potato */
    width: 26px;
    height: 18px;
    image-rendering: pixelated;
    top: 10px;
    left: 6px;
    position: relative;
    padding-right: 14px;
}

.menu-bar-icon {
    width: 26px;
    height: 18px;
    image-rendering: pixelated;
    top: 6px;
    left: 6px;
    position: relative;
    padding-right: 14px;
}

.menu-bar-text {
    color: var(--color-warm-cream);
    font: 12px "Emtato Pixel";
    margin-top: 10px;
    margin-left: 3px;
}

.menu-bar-button {
    width: auto;
    height: 14px;
    border: none;
    background-color: transparent;
    color: var(--color-warm-cream);
    font: 12px "Emtato Pixel";
    margin-top: 9px;
    margin-left: 12px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.menu-bar-button:hover {
    color: var(--color-golden-highlight);
}

.link-icon-stack {
    position: relative;
    width: 13px;
    height: 13px;
}

.link-icon-menubar {
    margin-left: 3px;
    image-rendering: pixelated;
    width: 12px;
    height: 12px;
    inset: 0;
    position: absolute;
    margin-top: -0.1vh;
}

.link-icon-default {
    opacity: 1;
}

.link-icon-hover {
    opacity: 0;
}

.menu-bar-button:hover .link-icon-default {
    opacity: 0;
}

.menu-bar-button:hover .link-icon-hover {
    opacity: 1;
}

.potato-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: -0.7vh;
    margin-left: 1px;
}

.potato-click-hint { /* :p */
    position: absolute;
    top: 33px;
    left: 3px;
    z-index: 16;
    color: var(--color-warm-cream);
    font: 6.3px "Emtato Pixel";
    white-space: nowrap;
    pointer-events: none;
}

.potatomeow {
    width: 60px;
    height: 38px;
    image-rendering: pixelated;
    position: absolute;
    top: 30px;
    left: 12px;
    z-index: 20;
}

.potatospeak {
    font: 12px "Emtato Pixel";
    position: absolute;
    top: 46px;
    left: 18px;
    z-index: 21;
}

.right-side-menu-bar {
    position: absolute;
    top: 0;
    right: 7px;
    display: flex;
}

.light-mode-button {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    left: -7px;
    top: -0.3vh;
    position: absolute;
}

.dark-mode-button {
    width: 12px;
    height: 16px;
    image-rendering: pixelated;
    margin-left: -12px;
    margin-top: -0.2vh;
}

.battery {
    position: relative;
}

.battery-percentage {
    font: 10px "Emtato Pixel";
    color: var(--color-smoky-charcoal);
    position: absolute;
    top: 11px;
    left: 19px;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: bold;
}

.wifi-button {
    border: none;
    background-color: transparent;
    margin-right: -10px;
    margin-top: -0.2vh;
}

.migu {
    width: 110px;
    height: 65px;
    image-rendering: pixelated;
    position: absolute;
    top: 30px;
    right: 187px;
    z-index: 20;
}

.miguspeak {
    font: 12px "Emtato Pixel";
    position: absolute;
    top: 56px;
    right: 180px;
    width: 105px;
    z-index: 21;
}

/* mobile/small screen ui to prevent menu bar collision */
@media (max-width: 910px) {
    .potato-click-hint {
        top: 20px;
        left: 37px;
    }

    .left-menu-bar {
        z-index: 20;
        transform-origin: top left;
        position: absolute;
        top: 30px;
        left: -5px;
        display: flex;
        padding-right: 10px;
        transform: rotate(-90deg) translateX(-100%);
        flex-direction: row-reverse;
        width: 530px;
        background-color: var(--color-smoky-charcoal);
        opacity: 0.8;
    }

    .menu-bar-text { /* add left padding to app name (menu bar text)*/
        margin-left: 15px;
        z-index: 20;
    }

    .light-mode-button { /* reverse change in menu-bar-text padding for time text */
        width: 16px;
        height: 16px;
        image-rendering: pixelated;
        margin-left: 10px;
        top: -0.3vh;
        position: absolute;
    }

    .dark-mode-button {
        width: 12px;
        height: 16px;
        image-rendering: pixelated;
        margin-left: 5px;
        margin-top: -0.2vh;
    }

    .battery {
        position: relative;
        margin-right: -10px;
    }

    .miguspeak {
        right: 200px;
    }

    .migu {
        right: 207px;
    }
}
