/* ------------------------------------------------------------------------------------------- -v-
                                        apps
----------------------------------------------------------------------------------------------- -o- */

.dock-apps-container {
    display: flex;
    gap: 1.5vw;
    position: relative;
    top: 1px;
    justify-content: center;
    width: 100%;
}

.app-wrapper {
    position: relative;
}

.app-button {
    height: var(--dock-height);
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.app-icon {
    image-rendering: pixelated;
    height: var(--dock-height);
    aspect-ratio: 1;
}

.app-icon-rotate {
    transform: rotate(10deg);
}

.app-icon-hoverText {
    position: absolute;
    top: -40%;
    white-space: nowrap;
    overflow-x: hidden;
    font: 10px "Emtato Pixel";
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-dark-brown);
}

.dock-app-copied {
    position: absolute;
    top: -70%;
    color: var(--color-dark-brown);
    font: 10px "Emtato Pixel";
}

/*!* mobile: hide some apps since no space*!*/

/*@media (max-width: 910px) {*/
/*    .mobile-hide-app {*/
/*        display: none;*/
/*    }*/
/*}*/
