
.experience-container {
    width: 100%;
    height: 100%;
    background-color: var(--colour-pale-lavender);
    z-index: 1;
}

/* ------------------------------------------------------------------------------------------- -v-
  work experience
----------------------------------------------------------------------------------------------- -o- */
.work-experience-container {

}

/* ------------------------------------------------------------------------------------------- -v-
   projects
----------------------------------------------------------------------------------------------- -o- */

.projects-container {
    display: grid;
    gap: 20px;
}
