/* ------------------------------------------------------------------------------------------- -v-
                                       browser window
----------------------------------------------------------------------------------------------- -o- */

.browser-window {
    width: 97vw;
    left: 1.5vw;
    height: 87.4vh;
    z-index: 10;
    position: absolute;
    top: 40px;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: auto minmax(0, 1fr) auto;
}

.browser-window-render-top-row { /* dimensions of 1 pixel: height 63px -> 9 drawn pixels tall, 7px per big pixel */
    position: relative;
    z-index: 10;
    height: 56px;
    image-rendering: pixelated;
    display: block;
}

.browser-window-render-bottom-row {
    position: relative;
    z-index: 10;
    height: 28px;
    image-rendering: pixelated;
    display: block;
}

.browser-window-topleft {
    position: relative;
}

.browser-window-top {
    height: 56px;

    background-image: url("/assets/browser/frame/top-side-browser.png");
    background-repeat: repeat-x;
    background-size: 8px 56px;
    image-rendering: pixelated;
}

.browser-window-topright {
    right: 0;

}

.browser-window-search-layer {
    height: 42px;

    background-image: url("/assets/browser/toolbar/browser-search-bar-layer.png");
    background-repeat: repeat-x;
    background-size: 7px 42px;
    image-rendering: pixelated;
}

.browser-window-center {

}

.browser-window-search-layer {

}

.browser-window-page-content {
}


.browser-window-left {
    width: 7px;

    background-image: url("/assets/browser/frame/left-side-browser.png");
    background-repeat: repeat-y;
    background-size: 7px 7px;
    image-rendering: pixelated;
}

.browser-window-right {
    width: 14px;
    justify-self: end;

    background-image: url("/assets/browser/frame/right-side-browser.png");
    background-repeat: repeat-y;
    background-size: 14px 7px;
    image-rendering: pixelated;
}

.browser-window-bottomleft {
    position: relative;
    bottom: 0;
}

.browser-window-bottom {
    height: 14px;
    align-self: end;

    background-image: url("/assets/browser/frame/bottom-side-browser.png");
    background-repeat: repeat-x;
    background-size: 7px 14px;
    image-rendering: pixelated;
}

.browser-window-bottomright {

}


